{% extends "layout.html" %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{title}}</h1>
    <hr>
    <div class="card mb-3">
      <div class="card-header text-bg-success">
        เพิ่มชื่อนักฟุตบอล
      </div>
      <div class="card-body">
        <form method="post">
          
          <div class="mb-3">
            <label for="name" class="form-label">Player Name</label>
            <input type="text" class="form-control" id="name"
              name="name">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Position</label>
            <select name="position" class="form-select" aria-label="Default select example">
              <option selected value="Defender">Defender</option>
              <option value="Forward">Forward</option>
              <option value="Midfielder">Midfielder</option>
              <option value="Goalkeeper">Goalkeeper</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Club</label>
            <select name="club" class="form-select" aria-label="Default select example">
              {% for team in teams %}
                  
                  <option value="{{team.name}}">{{team.name}}</option>
                  
                  
              {% endfor %}
              
              
            </select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Nationality</label>
            <input type="text" class="form-control" id="name"
              name="nationality">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="name"
              name="img_url">
          </div>
          <button type="submit" class="btn btn-outline-primary">
            <i class="bi bi-folder-plus"></i>
            Add New Player
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

